

/* display image .php style */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
.card {
    width: 165px;
    height: auto;
    padding: 8px 6px;
    background: silver;
    margin: 16px 11px 10px 21px;
    display: inline-block;
    text-align: center;
}